@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');



/* * {
    border: 1px solid #ffffff;
} */

body {
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
}

a {
    font-family: "Chakra Petch", monospace;
    color: #ffffff;
    text-decoration-line: underline;
    cursor: pointer;
}

a:hover {
    color: #dddddd;
}

a:active {
    text-decoration-line: none;
}



#root {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}



#body-container {
    height: calc(100vh - 50px - 16px);
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
    flex-grow: 1;
    background-color: #222222;
    min-width: 0;
}



#navbar {
    display: block;
    padding: 0;
    background-color: #111111;
    height: 50px;
    align-content: center;
}

#heading {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-family: "Silkscreen", monospace;
    color: #ffff00;
}



#canvas-container {
    flex: 1 1 0;
    display: flex;
    overflow: hidden; /* SOMEHOW THIS IS THE KEY? AND WITHOUT THIS EVERYTHING BREAKS? IDK I HATE CSS*/
}



#tools-container {
    background-color: #111111;
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}



.tool-icon {
    font-family: "Chakra Petch", monospace;
    color: #111111;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    width: 32px;
    height: 32px;
    transition: transform 0.1s;
    padding: 3px;
}

.tool-icon.selected {
    background-color: #ffff00;
}

.tool-icon:hover {
    transform: scale(90%);
}

.tool-icon:active {
    transform: scale(110%);
}

.tool-icon>img {
    width: 100%;
    height: 100%;
}



#canvas-sizer {
    position: relative;
    flex-grow: 3;
}

#tools-panel {
    background-color: #111111;
    flex: 1;
    max-width: 30%;
    padding: 8px;
    gap: 4px;
}

.subheading {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-family: "Silkscreen", monospace;
    color: #ffffff;
}



#canvas {
    position: absolute;
    /* Removing this causes the canvas sizer and the canvas to together infinitely grow, along y-axis*/
        /* top: 0;
        left: 0; */

    /*idk throw everything at it and smt probably does something*/
    -ms-interpolation-mode: -webkit-optimize-contrast;
    image-rendering: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: -o-pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

#values-display-container {
    height: 20px;
    font-family: "Chakra Petch", monospace;
    color: #ffffff;
    padding: 0 0 4px 8px;
    width: 0; /* otherwise it behaves weirdly and affects other stuff, if width isnt constant */
    text-wrap: nowrap;
}
#values-display {
    margin: 0;
}



#settings {
    min-height: 0; /* i have no clue it just works dont ask me T_T */
    height: 50%;
    max-height: 50%;
    overflow-y: auto;
}

#settings>.setting-field {
    font-family: "Chakra Petch", monospace;
    color: #ffffff;
    display: flex;
}

#settings>.setting-field>span {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
}

#settings>.setting-field>span.range-value-display {
    text-align: center;
    width: 3rem;
    flex-grow: 0;
}

#settings>.setting-field>input {
    border: none;
    outline: none;
    box-shadow: none;
    margin: 4px;
    border-radius: 2px;
    text-align: center;
    font-family: "Chakra Petch", monospace;
    font-weight: bold;
}

#settings>.setting-field>input[type="file"] {
    display: none;
}

#settings>.setting-field>input[type="button"] {
    background-color: #ffff00;
    transform: scaleY(110%);
}

#settings>.setting-field>input[type="button"]:active {
    background-color: #dddd00;
}


#layers {
    max-height: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#layers-list {
    overflow-y: auto;
    font-family: "Chakra Petch", monospace;
    color: #ffffff;
}



#export-buttons {
    display: flex;
    padding: 8px;
    gap: 8px;
    background-color: #111111;
}

.export-button {
    font-family: "Chakra Petch", monospace;
    flex-grow: 1;
    color: #111111;
    background-color: #ffff00;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

.export-button:active {
    background-color: #dddd00;
}



#layers-list-tools {
    display: flex;
    gap: 4px;
    padding: 4px;
}

.layer-tool-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #ffffff;
    flex-grow: 1;
    cursor: pointer;
    border-radius: 2px;
}

.layer-tool-button:active {
    background-color: #dddddd;
}

.active-layer {
    background-color: #555555;
}